* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

html {
  background: url(./assets/mountains-universe-1.png) no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html.universe {
  background: url(./assets/mountains-universe-2.png) no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html.explorer {
  background: url(./assets/mountains-universe-3.png) no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  width: 100%;
  height: auto;
  color: #c4c4cc;
  font-family: Roboto;
}

header {
  display: flex;
  align-items: center;
  gap: 4rem;
  padding: 4rem 10rem;
  font-size: 2.4rem;
}

ul {
  display: flex;
  gap: 4.8rem;
}



a {
  text-decoration: none;
  color: #c4c4cc;
  font-weight: 400;
}

a.selected{
  color: #fff;
  font-weight: 700;
}

#app {
  padding: 6.4rem 10rem;
}

#home {
  display: grid;
  place-items: center;
  width: 100%;
}

h1 {
  font-size: 4.8rem;
  margin-top: 8rem;
  
}

button {
  border-radius: 5px;
  border: 2px solid #fff;
  padding: 1.2rem 3.2rem;
  background: none;
  color: #fff;

  text-align: center;
  font-family: Roboto;
  font-size: 1.4rem;
  font-weight: 700;

  margin-top: 2.4rem;

  cursor: pointer;
}
